#menu {
  position: fixed;
  top: 1%;
  right: 1%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#menu li {
  display: inline-flex;
  margin: 10px;
}

#menu a {
  text-decoration: none;
  padding: 5px;
  color: #fff !important;
}

.fp-right ul li a span  {
  background-color: #fff !important;
}

.fp-slidesNav ul li a span {
  background-color: #fff !important;
}

.fp-warning, .fp-watermark {
  display: none !important;
}

.fp-slidesNav.fp-bottom{
  margin-left: 40% !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateXY(0); 
    opacity: 1;
  }
}
.code-editor {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 2%;
  border-radius: 8px;
  overflow: auto !important;
  min-height: 650px !important;
  max-height: 650px !important;
  width: 85% !important;
}

@media (max-width: 768px) {
  .col-md-6.col-sm-12.ps-4{
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
  }
  .code-editor{
    width: 100% !important;
  }
  .btn-success, .btn-primary{
    font-size: 3vw !important; 
    padding: 1vw !important;
  }
}

.code-editor pre {
  word-wrap: break-word;
  height: 100%;
  min-width: 1000px; 
}

.code-editor::-webkit-scrollbar {
  width: 8px;  /* 세로 스크롤바 너비 */
  height: 8px; /* 가로 스크롤바 높이 */
}

.code-editor::-webkit-scrollbar-thumb {
  background-color: #888;  /* 스크롤바 색상 */
  border-radius: 4px;      /* 둥근 모서리 */
}

/* 스크롤바 배경 */
.code-editor::-webkit-scrollbar-track {
  background-color: #f1f1f1;  /* 스크롤바 배경 색상 */
  border-radius: 4px;
}

.modal-title, .modal-body>div, .modal-footer {
  text-align: center;
  color: #000000 !important; /* 검은색으로 글씨 색상을 변경 */
}
.modal-dialog {
  margin-top: 300px !important; /* 원하는 만큼 내리기 */
}

.videos{
  width: 100% !important;
}
  
.preview-modal {
position: absolute;
width: 30%;
height: 35%;
z-index: 9999999999999;
background-color: #fff;
}

/* 로딩 아이콘 스타일 */
.loading-icon {
position: absolute;
top: 43%;
left: 44%;
transform: translate(-50%, -50%);
border: 4px solid #f3f3f3;
border-top: 4px solid #3498db;
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 1s linear infinite; /* 로딩 애니메이션 */
}

/* iframe 스타일 */
.iframe {
zoom: 0.40;  /* 페이지 내용 40%로 축소 */
width: 100% !important;  /* 100% 가로 */
height: 100%; /* 100% 세로 */
border: none;
}

/* 로딩 애니메이션 */
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

/* 메뉴 항목에 대해 상대 위치를 설정 */
#menu li a {
  position: relative; 
}

/* 기본 메뉴 항목에 밑줄을 추가 */
.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* 기본적으로 밑줄의 길이는 0 */
  background-color: #fff; 
  height: 2px; 
  transition: width 1s ease; 
}

/* 호버 시 밑줄이 100% 확장 */
.menu-item:hover::after {
  width: 100%;
}

/* 활성화된 항목에 대해서 밑줄이 100% 확장 */
#menu li.active a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* 활성화된 항목에 밑줄이 100% 확장 */
  height: 2px; 
  background-color: #fff; 
  transition: width 1s ease;
}

/* 호버 상태에서 활성화된 항목의 밑줄은 덮어쓰지 않도록 처리 */
#menu li.active a:hover::after {
  width: 100%; /* 호버 시에도 활성화된 항목은 밑줄이 유지되도록 설정 */
}
.bg-gray-200 {
  background-color: var(--bs-gray-400) !important;
}

.swiper {
  width: 70%;
  height: 70%;
  align-items: center !important;
  justify-content: start !important;
}

.swiper-image {
  max-width: 100%;
  max-height: 100%;
}

.nowrap {
  white-space: nowrap;
}